body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #eeaeca, #94bbe9);
}
.banner {
    background: linear-gradient(to right, #eeaeca, #94bbe9);
    text-align: center;
    padding: 20px;
}
.main {
    font-family: "Playfair Display", serif;
    color: #fff;
}
.navigation {
    margin-top: 20px; 
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation li {
    display: inline;
    margin-right: 20px; 
}

.navigation a {
  text-decoration: none;
  color: #fff; 
  font-weight: bold;
  font-size: 24px;
  font-family: "Playfair Display", serif; 
}
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #eeaeca, #94bbe9);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  @media (min-width: 1030px) {
    .banner {
        padding: 40px;
    }

    .hotel-slider {
        flex-wrap: wrap;
        justify-content: center;
    }

    .slide {
        flex: 0 0 calc(33.333% - 20px);
        margin: 10px;
    }

    .slide h3 {
        font-size: 24px;
    }
}
/* პლანშეტის ვერსია */
@media (min-width: 1024px) {
    .banner {
        padding: 20px;
    }
    .navigation a {
        font-size: 24px;
    }


    .hotel-slider {
        flex-wrap: wrap;
        justify-content: center;
    }

    .slide {
        flex: 0 0 calc(33.333% - 20px);
        margin: 10px;
    }

    .slide h3 {
        font-size: 24px;
    }
}
/* Ipad Mini-ს ვერსია */
@media (max-width: 768px) {
    .banner {
        padding: 20px;
    }
    .navigation a {
        font-size: 15px;
    }

    .hotel-slider {
        flex-wrap: wrap;
        justify-content: center;
    }

    .slide {
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }

    .slide h3 {
        font-size: 20px;
    }
    .footer {
        position: relative;
    }
}
   

/* მობილური ტელეფონების ვერსია */
@media (max-width: 480px) {
    .banner {
        padding: 20px;
    }
    .navigation a {
        font-size: 15px;
    }

    .hotel-slider {
        flex-wrap: wrap;
        justify-content: center;
    }

    .slide {
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }

    .slide h3 {
        font-size: 20px;
    }
    .footer {
        position: relative;
    }
}

  
  